:root{
  --green: #86AC41;
  --blue: #4CB5F5;
}

body{
  background-color: #324851;
  color: #FFFFFF;
}
main{
  padding-top: 55px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button{
  background-color: transparent;
  color: #ffffffa4;
  border:0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.with-text{
  width: auto;
  background-color:#B7B8B6;
  border-radius:10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}
button.with-text svg{
  width: 36px;
  float:left;
  margin-right: 5px;
}

label{
  display:block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}